
body {
  font-family: 'Poppins', sans-serif;
  padding: 10;
  background: #f8f9fa;
  color: #333;
  margin:0;
}

header {
  padding: 30px 10px 0px 10px;
  font-size: 30px;
  background: #46415f;
  color: #fff;
  align-content: center;
  height: 280px;
  
}
  
header img {
  width: 200px;
  border-radius: 50%;
}

nav{
  background-color: rgb(0, 7, 5);
  height: 30px;
}
nav a:hover{
  color: blue;
}

header h1{
  font-size: 37px;
  alignment-baseline: 14px;
}
nav a{
  color: white;
  text-decoration: none;
  padding: 5px 5px;
}

img {
  border: black 3px solid;
}

main{
  margin: 30px;
}

p{
  line-height: 10px;
  font-weight: light;
}

h2{
  line-height: 4px;
  font-weight: normal;
}

h3{
  line-height: 4px;
  font-weight: normal;
}
